* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", monospace;
    background-color: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
}

#message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5vh;
}

.title {
    text-align: center;
    margin: 5vh 0;
}

#drag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#horizonChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.x-axis, .y-axis {
    font-size: 12px;
}